@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #0fff95;
    --cor-secundaria: #000000;
    --cor-terciaria: #A80874;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 8%;
}

.cabecalho__m {
    display: flex;
    gap: 80px;
}

.cabecalho__m__l {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__C {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__C__t {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__C__p {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__C__b {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__C__b__s {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__C__b__b {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 16px 0;
    color: var(--cor-terciaria);
    border: 2px solid var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__C__b__b:hover {
    background-color: var(--cor-hover);
}

.titulo-d {
    color: var(--cor-terciaria);
}

.logo {
    border: 3px solid var(--cor-terciaria);
    border-radius: 3px;
    width: 45%;
    height: 75%;
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) { 
    .cabecalho {
        padding: 8%;
    }
    .cabecalho__m{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__C{
        width: auto;
    }
}